SUBSYSTEM=="i2c", ATTR{board_id}=="B7", GROUP="i2c", MODE="0640", OPTIONS+="priority=5"
SUBSYSTEM=="i2c", ATTR{name}=="temp-sensor", SYMLINK+="sensor-temp", GROUP="sensors", MODE="0660", OPTIONS+="priority=30"
