[Unit]
Description=Edge probe one
Wants=two.service

[Service]
EnvironmentFile=-/etc/one/env
Restart=always

[Container]
Image=localhost/one:1
Restart=no
