[Unit]
Description=Database
After=network-online.target

[Service]
EnvironmentFile=-/etc/db/env
Restart=always

[Container]
Image=localhost/db:16
Restart=no
