[Unit]
Description=Frontend
After=proxy.service

[Service]
EnvironmentFile=-/etc/frontend/env
Restart=always

[Container]
Image=localhost/frontend:1
Restart=no
