.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
solution
tests
hidden
**/hidden/**
*.zip
target
bin
tmp
*.egg-info
.env
