solution
.git
.gitignore
**/.git
**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
*.zip
**/node_modules/
target
bin
tmp
*.egg-info
.env
tests
cmd/
internal/
go.mod
go.sum
